<html>
<head>
    <title>신규회원가입</title>
</head>
<body>
<h1>신규화원 가입하기</h1>
<!--사용자로부터 입력받는 form 요소들은 반드시 form 태그안에 정의도어야 한다.-->
<!--form 태그는 action 과 method 라는 핵심 속성이 존재한다-->
<!--action 은 form 태그내에 사용자가 입력한 데이터를 어느 url 주소로 전달할지 지정하고 method 는 form 태그에 사용자 입력 데이터를 어떤 방식으로 전달할지 정의한다.-->
<form action="/members/regist" method="post">
    이메일: <input type="text" name="email" placeholder="이메일을 입력해주세요"><br>
    암호: <input type="password" name="password"><br>
    이름: <input type="text" name="name"><br>
    <input type="submit" value="등록">
</form>
</body>
</html>